in progress . . .

<select>
    <option val="">Please choose</option>
    <option val="1" style="color:blue;">Option 1</option>
    <option val="2">Option 2</option>
    <option val="3">Option 3</option>
    <option val="4">Option 4</option>
</select>