<!DOCTYPE html>
<html lang="en">

<body>
<% if user_signed_in? %>
	<% if current_user.games.empty? %>
    	<p>No Saved Games!</p>
    <% else %>
    	<% current_user.games.each do |game| %>
			<div class='gamebox'> 
				<div class='button', style='font-family:kabel;'><%= link_to game.name, game_path(id: game), { class: 'gameboxtitle'} %></div> <br>
				 &nbsp;&nbsp;&nbsp;<%= game.players.count %> players 
				 <br>
			</div>
    	<% end %>
	<% end %>
	<div class='greenbox'> <%= link_to 'New Monopoly Game', games_new_path %> </div>
<% end %>
</body>

</html>